<footer>
    <div class="copyright">
        <p>© 2024 TaskPicker. All rights reserved.</p>
    </div>
</footer>

<style>
    * {
        box-sizing: border-box;
    }

    footer {
        width: 100vw;
        height: 68px;
        background-color: white;
        border-top: 2px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
    }

    p {
        font-size: 10px;
    }
</style>
